html{
    align-items: center;
    vertical-align: middle;
    text-align: center;
    margin: auto;
    padding: auto;
    flex-direction: column;
    background-color: #0aa8f8;

}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    text-decoration: underline;
}

img {
	user-drag: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
}

li{
    list-style:none;
}

.header{
    position: absolute;/*←絶対位置*/
    left: 0;
    top: 1vh;
    width: 100%;
    text-align: center;
    font-size: xx-small;
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
}

.products_title{
    text-align: center;
    font-size: xx-large;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 0px;
}

.products{
text-align: left;
font-size: xx-small;
font-family: 'Josefin Sans', sans-serif;

}

.slogan{
    text-align: center;
    vertical-align: middle;
    margin-top: 8%;
    padding: auto;
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
}

.contact{
    position: static;
    left: 0;
    bottom: 10vh; /*下に固定*/
    width: 100%;
    text-align: center;
    font-size: xx-large;
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
}

.trapper_menu_outer {
    align-items: center;
    text-align: center;
    }

.trapper_menu {
    padding: 10px 20px;
    }

.trapper_menu_parent {
    cursor: pointer;
    }

.trapper_menu_parent::before {
    content: '+PRODUCTS+';
    display: inline-block;
    transform: rotate(-90deg);
    transition: .4s;
    }

.trapper_menu_parent.active::before {
    transform: rotate(0deg);
    }

.trapper_menu_child {
    color: aliceblue;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: .4s;
    }

.trapper_menu_child.active {
    height: 4rem;
    opacity: 1;
    visibility: visible;
    }

.credit{
    position: absolute;/*←絶対位置*/
    left: 0;
    bottom: 1vh; /*下に固定*/
    width: 100%;
    text-align: center;
    font-size: xx-small;
    font-family: 'Josefin Sans', sans-serif;
    color: aliceblue;
}